* {  
    box-sizing:border-box;
    margin:0;
}
html, body {
    font-size:100%;
    font-family:"Open Sans",Arial,sans-serif;
}

h1 {font-size:2.7rem;}
h2 {font-size:2.2rem;}  
h3 {font-size:1.8rem;}  
h4 {font-size:1.4rem;}  
h5 {font-size:1.1rem;}  
h6 {font-size:0.9rem;}

a{text-decoration:none;}

p,li{
  font-size: 0.85rem;
  line-height: 1.6;
}

img,video {
    border:0;
    display:block;
    height:auto;
    max-width:100%;
    float:inherit;
}

nav {
	background-color:#343538;
	position: relative;
    display:block;
    width:100%;
}
nav a{
    color:#ff9414;
    transition:color 0.20s linear 0s;
}
nav a:hover,nav a:active {color:#ff1e1e;}
nav a:visited{color:#ff9414;}
header{
    margin-bottom:0.5em;
    border-bottom:1px solid black;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
}

.title {
    font-size: 2.3rem;
    display: inline-block;
    padding: 0.6rem;
}
.top-nav ul {
    padding:0;
}
.top-ul ul {
    position:absolute;
    background-color:inherit;
}
.top-ul li {
    float:left;
    list-style:none;
    padding:0px;
}
.top-ul > li {
    position:relative;
    border-right:1px solid black;
    box-shadow: 0px -5px 2px 1px rgba(0,0,0,0.75);
}
.top-ul > li:first-child {border-left:1px solid black;}
.top-ul li:hover > a, .top-ul li:active > a {
    color:#ff1e1e;
    background-color:#283D5F;
}

.top-ul li a {
    display:block;
    font-size:1.2rem;
    background-color:#343538;
    padding:0.85em 1.0em;
}
.top-ul li ul {display:none;}
.top-ul ul li:last-child{
    border-bottom:1px solid black;
    border-radius:0px 0px 20px 20px;
}
.top-ul li ul li{
    float:none;
    list-style:none;
    min-width:100%;
    padding:0px;
    border-top: 1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
}
.top-ul li ul li a {
    font-size:1.0rem;
    background-color:#343538;
    padding:0.625em 1em;
}

.count-number {display:none;}

.post{
    overflow:hidden;
    margin-bottom:0.5em;
}
.post:last-child{margin-bottom:0;}

.post-text {
	color: #fff;
	padding: 1.0rem;
}
.post-text > a:hover{
	opacity:0.6;
}

.post-text h2 {
  color: #fff;
  font-weight:100;
  margin: 0 0 1.0rem;
  opacity: 1;
  transition: opacity 0.20s linear 0s;
  text-align:center;
}

.post-text p {
	font-size: 0.9rem;
	opacity: 0.6;
}

.post-image img {
    max-height:280px;
	margin: 0px;
	opacity: 1;
	transition: opacity 0.20s linear 0s;
}
.post-image img:hover{
	opacity: 0.6;
}

.right-align .post-image a img{
    float:right;
}
.post .post-date {
	font-weight: 100;
	text-align: center;
}
.post-date .date {
	font-size: 2.4rem;
}
.post-date .month {
	font-size: 1.4rem;
    margin-top:-0.7rem;
}

.right-align .post-image{
	float: right;
}
.right-align .post-text {
	float: right;
}
.right-align .post-date {
	float: right;
	text-align: right;
}

aside h3 {
  color: #0b192f;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.1;
  margin: 0 0 0.625rem;
  
}
aside p {
	color: #637693;
	font-size: 0.85rem;
}

.aside-block {
    background-color:#fff;
	padding: 0rem 0.5rem 1.0rem 0.5rem;
}
.aside-block div {
    border:1px solid black;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
    border-radius:20px;
    padding:0.5rem
}
.aside-block div:hover, .aside-block div:active {background-color:palegreen;}

article a:visited{color: #fff;}

.ad-container{padding:0.5rem;}
.ad-container h2, .ad-container h3, .ad-container h4{text-align:center;}
.ad-container .post-text a:hover{opacity:0.6;}

article .ads {
    border:1px solid black;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
    border-radius:20px;
    padding:0.5rem;
}

footer {
	background-color:#343538;
	display: inline-block;
	margin-bottom: 0;
	margin-top: 0.5rem;
	padding: 1.0rem;
	position: relative;
	width: 100%;
}
footer a, a:visited{
    color: #637693;
    float:none;
    display:block;
    line-height:1.6;
}
footer p {
	color: #637693;
	font-size: 0.9rem;
}
footer h4 {
    color: #637693;
    margin-bottom:0.333333em;
}

.background-green{background-color:#39ac73;}
.background-brown{background-color:#cc6600}
.background-purple{background-color:mediumpurple;}
.background-blue{background-color:royalblue;}
.background-lightblue{background-color:#2d95bb;}

.text-center {text-align:center!important;}
.text-right {text-align:right!important;}
.text-clear{
    text-decoration:none;
    font-weight:100;
}
.right {float:right;}
.left {float:left;}

.left-nav{
    float:left;
    
}


/* Queryt */

@media screen and (max-width: 768px) {
    
    .title {
    display: block;
    text-align: center;
    }
    .nav-text {
    color:#ff9414;
    transition:color 0.20s linear 0s;
    font-size: 2.5rem;
    line-height: 1rem;
    padding-top: 1rem;
    text-align: center;
    }
    
    .nav-text:hover, .nav-text:active {color:#ff1e1e;}

    .top-nav ul {
    float: none;
    text-align: center;
    }
    .top-ul li {
    border-top: 1px solid black;
    display: block;
    }
    .right-align .post-text {text-align: left;}
    .right-align .post-date {text-align: center;}

    footer {text-align: center;}

}

@media screen and (min-width:769px) {
    .d-1 {width:8.3333%;}
    .d-2 {width:16.6666%;}
    .d-3 {width:25%;}
    .d-4 {width:33.3333%;}
    .d-5 {width:41.6666%;}
    .d-6 {width:50%;}
    .d-7 {width:58.3333%;}
    .d-8 {width:66.6666%;}
    .d-9 {width:75%;}
    .d-10 {width:83.3333%;}
    .d-11 {width:91.6666%;}
    .d-12 {width:100%;}

    .post {max-height: 340px;}

    .top-ul li:hover > ul, .top-ul li:active > ul {
	    display:block;
	    z-index:10;
    }  
    .top-ul li:hover > ul ul, .top-ul li:active > ul ul { /* jos ois sub-sub-menui */
    left:100%;
    top:0%;
    width:100%;
    }
}
@media screen and (min-width:1367px){
    .l-1 {width:8.3333%;}
    .l-2 {width:16.6666%;}
    .l-3 {width:25%;}
    .l-4 {width:33.3333%;}
    .l-5 {width:41.6666%;}
    .l-6 {width:50%;}
    .l-7 {width:58.3333%;}
    .l-8 {width:66.6666%;}
    .l-9 {width:75%;}
    .l-10 {width:83.3333%;}
    .l-11 {width:91.6666%;}
    .l-12 {width:100%;}

    /* sivu-navi 
    .top-ul{
        position:static;
    }
    .top-ul li{
        float:none;
        position:relative;
    }
    .top-ul li ul{
        width:100%;
        top:0%;
        left:100%;
        position:absolute;
    }
    */
}

.nav-text{display:none;}

.s-1, .s-2, .s-3, .s-4, .s-5, .s-6, .s-7, .s-8, .s-9, .s-10, .s-11, .s-12, .m-1, .m-2, .m-3, .m-4, .m-5, .m-6, .m-7, .m-8, .m-9, .m-10, .m-11, .m-12, .d-1, .d-2, .d-3, .d-4, .d-5, .d-6, .d-7, .d-8, .d-9, .d-10, .d-11, .d-12 .l-1, .l-2, .l-3, .l-4, .l-5, .l-6, .l-7, .l-8, .l-9, .l-10, .l-11, .l-12 {
  float:left;
  position:static;
}

@media screen and (max-width:768px) {
    .m-1 {width:8.3333%;}
    .m-2 {width:16.6666%;}
    .m-3 {width:25%;}
    .m-4 {width:33.3333%;}
    .m-5 {width:41.6666%;}
    .m-6 {width:50%;}
    .m-7 {width:58.3333%;}
    .m-8 {width:66.6666%;}
    .m-9 {width:75%;}
    .m-10 {width:83.3333%;}
    .m-11 {width:91.6666%;}
    .m-12 {width:100%}

    nav {
        display:block;
    }
    .top-nav > ul {
        height: 0;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        z-index: 999;
    }
    .top-nav > ul.show-menu {
        height: auto;
    }
    .top-nav .top-ul ul {
        left: 0;
        margin-top: 0;
        position: relative;
        right: 0;
    }
    .top-nav li ul li a {
        min-width: 100%;
    }
    .top-nav .top-ul li {
        float: none;
        border:none;
        border-radius:0px;
        border-top:1px solid black;
        box-shadow:none;
    }
    .top-nav .top-ul li a {
        display: block;
        padding: 1.25rem 0.625rem;
        text-align: center;
    }

    .top-nav .top-ul ul, .top-ul ul ul{
        display: block;
        overflow: hidden;
        height: 0;
    }
    .top-nav .top-ul ul li{
        border:none;
        border-top:1px solid black;
        box-shadow:none;
        font-size:1.0rem;
    }
    
    .top-nav > ul ul.show-ul {
        display: block;
        height: auto;
    }
    .top-nav li ul li a {
        background-color: #4c5460;
        padding: 0.6rem;
    }
    
    .nav-text {
        color:#ff9414;
        display: block;
        font-size: 1.2rem;
        line-height: 3;
        margin-right: 0.625rem;
        max-width: 100%;
        text-align: center;
        vertical-align: middle;
    }
    .nav-text:hover, .nav-text:active {color:#ff1e1e;}
    .nav-text:after {
        content: "\2630";
        font-size: 1.1rem;
        margin-left: 0.5rem;
        text-align: right;
    }
}
@media screen and (max-width:480px) {
    .s-1 {width:8.3333%;}
    .s-2 {width:16.6666%;}
    .s-3 {width:25%;}
    .s-4 {width:33.3333%;}
    .s-5 {width:41.6666%;}
    .s-6 {width:50%;}
    .s-7 {width:58.3333%;}
    .s-8 {width:66.6666%;}
    .s-9 {width:75%;}
    .s-10 {width:83.3333%;}
    .s-11 {width:91.6666%;}
    .s-12 {width:100%}

    .aside-block:first-child{margin-top:1em;}
    .aside-block > div{
        border:none!important;
        box-shadow:none;
    }
}  
